[submodule "docker-asterisk"]
	path = docker-asterisk
	url = https://github.com/yevonnaelandrew/docker-asterisk
[submodule "docker-elk"]
	path = docker-elk
	url = https://github.com/deviantony/docker-elk/
[submodule "docker-kamailio"]
	path = docker-kamailio
	url = https://github.com/yevonnaelandrew/docker-kamailio
